app/index.pug
doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Кабинет исполнителя
        meta(name='description', content='')
        meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
        link(rel="stylesheet" href="css/index.css")
    body
        section#header_region
        section#page_region.container
        section#footer_region.container
        section#notifications_region
        script(type="text/javascript" src="js/main.js")
        include ./js/templates/components/pswp/container

www/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Кабинет исполнителя</title>
    <meta name="description" content="">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" href="css/index.150455e7.css">
  </head>
  <body>
    <section id="header_region"></section>
    <section class="container" id="page_region"></section>
    <section class="container" id="footer_region"></section>
    <section id="notifications_region"></section>
    <script type="text/javascript" src="js/main.53caffa5.js"></script>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Закрыть (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Поделиться"></button>
            <button class="pswp__button pswp__button--fs" title="Во весь экран"></button>
            <button class="pswp__button pswp__button--zoom" title="Увеличить/Уменьшить"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Предыдущий (стрелка налево)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Следующий (стрелка направо)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
